body{
    background-color:antiquewhite
}

header{
    background-color: brown;
    text-align: center;
}

footer{
    background-color: brown;
    text-align: center;
}

main{
    text-align: center;
    background-color: rgb(245, 194, 127);
    border: 3px;
    border-radius: 10px;
}

h3{
    border: 2px solid;
    border-color: brown;
    margin-left: 75px;
    margin-right: 75px;
    background-color: antiquewhite;
}

.img{
    border: 8px solid;
    border-color: brown;

}

asside{
    border: 2px solid;
    border-color: brown;
    background-color: rgb(245, 194, 127);
}